@page "/events/create"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject ToastService toastService

<div class="card  mb-5" data-wow-delay="0.1s">
    <div class="mt-3">
        <a class="btn btn-primary" href="/events"><Icon Name="IconName.BoxArrowInLeft" /> Atrás </a>
    </div>

    <EditForm Model="eventDTO" OnValidSubmit="SaveAsync">
        <DataAnnotationsValidator />
        <div class="card-body align-content-center">
            <div class="col-12 mb-3">
                <div class="form-floating">
                    <select class="form-select" @bind="eventDTO.EventId">
                        <option value="0">-- Seleccione un evento --</option>
                        @if (eventTypes is not null)
                        {
                            @foreach (var type in eventTypes)
                            {
                                <option value="@type.Id">@type.Description</option>
                            }
                        }
                    </select>
                    <label>Eventos</label>
                    <ValidationMessage For="@(() => eventDTO.EventId)" />
                </div>

            </div>
            <div class="col-12 mb-3">
                <div class="form-floating">
                    <InputTextArea class="form-control" @bind-Value="@eventDTO.Observation" placeholder="Your Email" />
                    <label>Observaciones</label>
                    <ValidationMessage For="@(() => eventDTO.Observation)" />
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-primary py-3 px-4" type="submit"><Icon Name="IconName.CheckCircle" /> Guardar</button>
            </div>
        </div>
    </EditForm>
</div>


@code {
    private EventDTO eventDTO = new();
    private List<EventType> eventTypes = new();

    [CascadingParameter]
    public MainLayout? Layout { get; set; }


    protected async override Task OnInitializedAsync()
    {
        Layout!.Title = "Eventos";
        Layout!.Breadcrumbs = new List<string>() { "Inicio", "Páginas", "Eventos", "Crear Eventos" };
        await GetEventTypes();
    }

    private async Task SaveAsync()
    {
        var response = await repository.PostAsync<EventDTO, Event>("/gateway/events", eventDTO);
        if (response.Error)
        {
            var message = await response.GetErrorMessageAsync();
            toastService.Notify(new(ToastType.Danger, message!));
            return;
        }

        toastService.Notify(new(ToastType.Success, $"Se agrego el evento correctamente. Fecha: {DateTime.Now}"));
        navigationManager.NavigateTo("/events");
    }

    private async Task GetEventTypes()
    {
        var response = await repository.GetAsync<List<EventType>>("/gateway/eventTypes");
        if (response.Error)
        {
            var message = await response.GetErrorMessageAsync();
            toastService.Notify(new(ToastType.Danger, message!));
            return;
        }

        eventTypes = response.Response!;
    }
}
